body{
    margin: 0;
    background-size: cover;
    background-image: url('../img/fondo2.jpg');
}
main{
    height: 100%;
}
section{
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
h2{
    font-family: 'Rock Salt', cursive;
    text-shadow: 3px 3px;
}
#inputResult{
    width: 100% !important;
    font-size: 30px;
}
.btn-group{
    font-family: 'MuseoModerno', cursive !important;
}

.fadeInUp{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}


footer {
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #1F7895;
}
#footer-contact i:hover{
	background-color: transparent;
	transition-duration: 3s;
	transform: rotateX(-180deg) rotateY(170deg);
}
footer a{
	color: white;
}
footer a:hover{
	background-color: transparent;
}


#footerName{
    font-family: 'Righteous', cursive;
	animation-duration: 3s;
    animation-name: slidein;
    
}
@keyframes slidein {
	from {
	  transform: rotateY(360deg);
	}
	to{
		transform: rotateY(360deg) !important;
	}
}


@media(min-height:660px){
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    body{
        background-size: auto;
    }
}